body {
    margin: 0;
    background-color: violet;
    color: white;
    display: grid;
    grid-template-rows: 40% 40% 20%; 
    height: 100vh; 
}
.texto {
    margin: 10% 20%;
    text-align: center;
    font-size: 60%;
}
.botones {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.huntrix {
    width: 100%;
    height: 100%;

}

button {
    background-color: gray;
    color: white;
    padding: 10px;
    margin: 5px;
    
}

